DSDS/DSDS.sln.DotSettings.user
DSDS/.vs/DSDS/v15/.suo
FtpWatcherService/FtpWatcher/.vs/FtpWatcher/v15/Server/sqlite3/db.lock
FtpWatcherService/FtpWatcher/.vs/FtpWatcher/v15/Server/sqlite3/storage.ide-wal
FtpWatcherService/FtpWatcher/.vs/FtpWatcher/v15/Server/sqlite3/storage.ide-shm
FtpWatcherService/FtpWatcher/.vs/FtpWatcher/v15/Server/sqlite3/storage.ide
FtpWatcherService/FtpWatcher/FtpWatcher.sln.DotSettings.user
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/FileChecker.assets.cache
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/FileChecker.AssemblyInfoInputs.cache
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/FileChecker.AssemblyInfo.cs
DSDS/Utils/FileChecker/obj/project.assets.json
DSDS/Utils/FileChecker/obj/FileChecker.csproj.nuget.g.targets
DSDS/Utils/FileChecker/obj/FileChecker.csproj.nuget.g.props
DSDS/Utils/FileChecker/obj/FileChecker.csproj.nuget.cache
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/FileChecker.csprojAssemblyReference.cache
DSDS/Utils/FileChecker/obj/Debug/netcoreapp2.1/FileChecker.csproj.CoreCompileInputs.cache
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/FileCheckerTestConsoleApp.csproj.CoreCompileInputs.cache
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/FileCheckerTestConsoleApp.assets.cache
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/FileCheckerTestConsoleApp.AssemblyInfoInputs.cache
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/FileCheckerTestConsoleApp.AssemblyInfo.cs
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/FileCheckerTestConsoleApp.csprojAssemblyReference.cache
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DSDS/Tests/FileCheckerTestConsoleApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DSDS/Tests/FileCheckerTestConsoleApp/obj/project.assets.json
DSDS/Tests/FileCheckerTestConsoleApp/obj/FileCheckerTestConsoleApp.csproj.nuget.g.targets
DSDS/Tests/FileCheckerTestConsoleApp/obj/FileCheckerTestConsoleApp.csproj.nuget.g.props
DSDS/Tests/FileCheckerTestConsoleApp/obj/FileCheckerTestConsoleApp.csproj.nuget.cache
DSDS/.vs/DSDS/v15/Server/sqlite3/storage.ide-wal
DSDS/.vs/DSDS/v15/Server/sqlite3/storage.ide-shm
DSDS/.vs/DSDS/v15/Server/sqlite3/storage.ide
DSDS/.vs/DSDS/v15/Server/sqlite3/db.lock
DSDS/Utils/FileChecker/obj/
DSDS/Utils/FileChecker/bin/
DSDS/Tests/FileCheckerTestConsoleApp/obj/
DSDS/Tests/FileCheckerTestConsoleApp/bin/
DSDS/Utils/FIleLoader/obj/
DSDS/Utils/FIleLoader/bin/
DSDS/FtpWatcherService/bin/
DSDS/FtpWatcherService/obj/
DSDS/.vs/DSDS/
FtpWatcherService/FtpWatcher/.vs/
.vs/
FtpWatcherService/FtpWatcher/FtpWatcher/obj/
DSDS/ScriptExecutorService/bin/
DSDS/ScriptExecutorService/obj/
DSDS/CrudService/bin/
DSDS/CrudService/obj/
DSDS/Dummy-Document/