<div class="status-presentation-row">
  <div class="status-files cutoff-status-red">
    <div class="status-visual-presentation">
      <a href="javascript:;" class="files-amount"><span class="number">{{failed}}</span> Failed</a>
    </div>
  </div>
  <div class="status-files cutoff-status-green">
    <div class="status-visual-presentation">
      <a href="javascript:;" class="files-amount"><span class="number">{{success}}</span> Success</a>
    </div>
  </div>
  <div class="status-files cutoff-status-yellow">
    <div class="status-visual-presentation">
      <a href="javascript:;" class="files-amount"><span class="number">{{late}}</span> Late</a>
    </div>
  </div>
  <div class="status-files cutoff-status-gray">
    <div class="status-visual-presentation">
      <a href="javascript:;" class="files-amount"><span class="number">{{inactive}}</span> Inactive</a>
    </div>
  </div>
  <div class="status-files cutoff-status-blue">
    <div class="status-visual-presentation">
      <a href="javascript:;" class="files-amount"><span class="number">{{all}}</span> All</a>
    </div>
  </div>
</div>