//-------------------------------------------------------------------------------------------
// Mercer UI
// Project Configuration
//-------------------------------------------------------------------------------------------

@import 'merceros-ui-core/scss/shared';

$mos-primary-color: #00A8C8 !default;
$alert-color: #EF4E45 !default;
$onyx-dark:	#000000 !default;
$onyx-lighter: #e6e6e6 !default;
$onyx-darker: #ccc !default;
$amber-bright: #f9ed5a !default;
$topaz-bright: #FBAE17 !default;
$emerald-bright: #72BE44 !default;
$sapphire-bright: #00A8C8 !default;