<div class="feed-table mos-u-spacer--margin-bottom-md">
  <mercer-table
    theme="tertiary"
    [bordered]="true"
    [columnBordered]="true"
    [headers]="headerData"
    [rows]="rowData"
    [headerTruncateText]="false"
    [striped]="true"
    [rowHighlight]="true"
    [sortable]="true"
    [sortByInputOptions]="sortOption"
  >
    <ng-template mercer-table-row let-row="row" >
      <td>
        <ds-status-circle status="{{row.status}}"></ds-status-circle>
      </td>
      <td>{{row.date | date:'medium'}}</td>
      <td>{{row.successRows}}</td>
      <td>
          <a [routerLink]="['/failes', row.runId, dataFeedName]" class="link-danger" *ngIf="row.failedRows > 0">{{row.failedRows}}</a>
          <span *ngIf="row.failedRows == 0">{{row.failedRows}}</span>
      </td>
    </ng-template>
  </mercer-table>
</div>